<%= form_for([@answer.challenge, @answer]) do |f| %>
  <% if @answer.errors.any? %>
    <div class="alert alert-error" id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :class => "" %>
  </div>
  <div class="field">
    <%= f.label :gist_id %><br />
    <%= f.number_field :gist_id, :class => ""%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "span4" %>
  </div>
  <div class="field">
    <%= f.label :challenge_id %><br />
    <%= f.number_field :challenge_id, :class => "" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
<% end %>
