<h1>All Answers of "<%= link_to @challenge.title, @challenge %>"</h1>
<table class="table">
  <tr>
    <th>Title</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @answers.each do |answer| %>
  <tr>
    <td><%= link_to answer.title, [@challenge, answer], {:class => "btn btn-block btn-mini"} %></td>
    <td><%= answer.user.name %></td>
    <% if current_user && answer.can_edit?(current_user) # TODO: move to management screen %>
      <td><%= link_to 'Edit', ['edit', @challenge, answer] %></td>
      <td><%= link_to 'Destroy', [@challenge, answer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Answer', new_challenge_answer_path %>
