<%= render 'challenges/overview' %>

<h1><%= @answer.title %></h1>
<ul>
  <li>Author: <%= @answer.user.name %></li>
  <li>Challenge: <%= link_to @challenge.title, @challenge %></li>
</ul>

<p>
  <%= @answer.description %>
</p>

<script src="https://gist.github.com/<%= @answer.gist_id %>.js"></script>

<br />

<%= link_to 'Edit', edit_challenge_answer_path %><br />
<%= link_to 'Back to Challenge Page', @challenge %><br />
<%= link_to 'Back to Challenge Answers Page', challenge_answers_path %>
