<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @answer.title %>
</p>

<p>
  <b>Gist:</b>
  <%= @answer.gist_id %>
</p>

<p>
  <b>File names:</b>
  <%= @answer.file_names %>
</p>

<p>
  <b>Description:</b>
  <%= @answer.description %>
</p>

<p>
  <b>Challenge:</b>
  <%= @answer.challenge_id %>
</p>

<p>
  <b>User:</b>
  <%= @answer.user_id %>
</p>


<%= link_to 'Edit', edit_challenge_answer_path(@challenge) %> |
<%= link_to 'Back', challenge_answers_path(@challenge) %>
