<%= render 'challenges/overview' %>

<h1><%= @answer.title %></h1>
<ul>
  <li>Author: <%= link_to @answer.user.name, @answer.user %></li>
  <li>Challenge: <%= link_to @challenge.title, @challenge %></li>
</ul>

<p>
  <%= @answer.description %>
</p>

<script src="https://gist.github.com/<%= @answer.gist_id %>.js"></script>
