<div class="well">
  <h1><%= @challenge.title %></h1>
  <ul>
    <li><b>Question User:</b> <%= @challenge.user.name %></li>
    <li><b>Number of Answer:</b> <%= @challenge.answers.count %></li>
  </ul>
  <h4>Description</h3>
  <p>
    <%= @challenge.description %>
  </p>
</div>

<%= link_to "Show All Answers", challenge_answers_path(@challenge), {:class => "btn btn-info"}%>
<% if user_signed_in? %>
  <%= link_to "Answer", new_challenge_answer_path(@challenge), {:class => "btn btn-primary"} %>
<% end %>
<%= link_to 'Back', challenges_path %>
