<h1><%= @challenge.title %></h1>
<p>
  <b>Question User:</b>
  <%= @challenge.user.name %>
</p>
<p>
  <%= @challenge.description %>
</p>

<% if user_signed_in? %>
  <%= link_to "Answer", new_answer_path, {:class => "btn btn-primary"} %>
<% end %>
<%= link_to 'Back', challenges_path %>
