<%= link_to 'Seminar-Proto', root_path, :class => 'brand' %>
<ul class="nav">
  <li><%= link_to 'All Challenges', challenges_path %></li>
</ul>
<form class="navbar-search pull-left" action="/search">
  <input type="text" class="search-query" formaction="/search" placeholder="Search" name="q">
</form>
<% if user_signed_in? %>
<div class="btn-group pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-user"></i><span id="current-user-name"><%= current_user.name %></span><span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'My Page', current_user %></li>
    <li><%= link_to 'Management Screen', management_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Logout", logout_path %></li>
  </ul>
</div>
<% else %>
<div class="btn-group pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-user"></i>Guest<span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= store_current_url; link_to 'Login(Github OAuth)', '/auth/github' %></li>
  </ul>
</div>
<% end %>
